body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(247, 247, 247);
    font-size: small;
}

.my_container{
    background-color: white;
    width: 60%;
    margin: 100px auto 100px auto ;
    border: 2px solid rgb(227, 226, 226);
    padding: 10px 50px;
}
.my_btn{
    background-color: rgb(75, 75, 216);
    color: white;
    padding: 2px 15px;
    border: none;
    border-radius: 2px;
}
.adderbtn{
    background-color: rgb(28, 141, 255);
}
.adderbtn:hover{
    background-color: rgb(1, 121, 240);
}
.add_task{
    all:unset;
    padding: 8px;
    margin-right: 10px;
    outline: none;
    flex: auto;
    border:2px solid rgb(227, 226, 226);
    border-radius: 2px;
}
.add_task:focus{
    border:2px solid rgb(168, 168, 168) ;
}
.my_adder{
    display: flex;
    margin-bottom: 20px;
}
.my_item{
    display: flex;
    padding: 10px 0px;
    margin: 0;
}
svg{
    margin-left: auto;
}
